html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: black;
}
img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

* {
  font-family: 'Roboto' !important;
}
input {
  font-size: 16px;
}

/* main css */

header {
  position: fixed;
  width: calc(100% - 40px);
  max-width: 640px;
  height: 60px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 0 20px;
}
#logo {
  font-size: 24px;
  font-weight: 400;
  color: black;
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
}

#wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  width: calc(100vw - 40px);
  max-width: 640px;
  padding: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
}

#create-post-button-box {
  max-width: 740px;
  width: 100vw;
  height: 90px;
  background-color: white;
  position: fixed;
  top: 50px;
}

#create-post-button {
  color: white;
  width: calc(100vw - 40px);
  max-width: 640px;
  background: #12d4c9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  border-radius: 12px;
  height: 50px;
  left: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transform: translateX(-50%);
}
#list-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 160px;
  gap: 20px;
}
.list {
  width: 100%;
  height: 100px;
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.list a {
  display: flex;
  width: inherit;
  height: 100%;
  cursor: pointer;
}

.list-image {
  height: 100%;
  max-width: 120px;
  min-width: 120px;
  border-radius: 12px;
  object-fit: cover;
}

.list-title,
.list-content {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 10px;
  margin-left: 16px;
  width: 50%;
}
.description > * {
  display: inline-block;
}

.list-title {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
}

#back-icon {
  width: 15px;
  height: 15px;
  object-fit: contain;
  pointer-events: none;
}

/* writePage CSS */
#write-container {
  width: 100vw;
  max-width: 640px;
  margin-top: 100px;
  padding: 20px;
}

#image-upload-box {
  width: 100%;
  max-width: 640px;
  height: 100px;
  position: relative;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('http://61.97.184.251/pictureImage.png');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#form-box {
  width: 100%;
  max-width: 640px;
  margin-top: 50px;
}

#enter-title {
  width: 100%;
  max-width: 640;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#enter-title > input {
  height: 50px;
  outline: none;
  border: none;
  font-size: 20px;
  border-bottom: 2px solid #e2e2e2;
  padding-left: 10px;
}
#enter-title > h1 {
  font-size: 24px;
  font-weight: 700;
}

#enter-content {
  width: 100%;
  max-width: 640;
  height: 400px;
  margin-top: 40px;
}
#enter-content > textarea {
  font-size: 20px;
  width: 100%;
  height: 400px;
  resize: none;
  padding: 10px;
  border: none;
  outline: none;
}

#enter-content > h1 {
  font-size: 24px;
  font-weight: 700;
}
#write-submit-button {
  width: 100%;
  height: 50px;
  background-color: #e2e2e2;
  border: none;
  border-radius: 12px;
  cursor: not-allowed;
}
#not-found {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
}

/* Detail CSS */

#detail-container {
  width: 100vw;
  max-width: 640px;
  margin-top: 100px;
}

#detail-container > img {
  width: 100vw;
  height: 360px;
  max-width: 640px;
  object-fit: cover;
  border-radius: 0 0 12px 12px;
  margin-bottom: 20px;
}

#info-box {
  position: relative;
  padding: 20px 30px 70px 30px;
  border-bottom: 2px solid #e2e2e2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

#info-box > h1 {
  font-size: 20px;
  font-weight: 700;
  word-break: break-all;
}

#info-box > span {
  font-size: 12px;
}

#info-box > p {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  line-height: 25px;
}

#post-detail-button-box {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 30px;
  bottom: 30px;
  color: black;
}

#post-update-button,
#post-delete-button {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid black;
}

#comment-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 30px 50px 30px;
  gap: 20px;
  overflow: scroll;
}

#comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#comment > button {
  background-color: #ffffff;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 12px;
  cursor: pointer;
  font-size: 12px;
  width: 20%;
  max-width: 50px;
  color: black;
}

#comment > p {
  width: 90%;
  height: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: normal;
}

#comment-box {
  width: 100%;
  max-width: 640px;
}

#comment-form {
  max-width: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 20px);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 40px;
  padding: 0 10px 10px 10px;
  background-color: #ffffff;
}

#comment-input {
  width: 80%;
  height: 20px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
  border-radius: 10px 0 0 10px;
  padding: 10px;
}

#comment-button {
  width: 20%;
  height: 42px;
  border: 1px solid #dbdbdb;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background-color: #fafafa;
  padding: 0;
  color: black;
}
